<div class="container">
    <div class="login-form">
        <h1 class="login-title">Singup</h1>
        <div class="login-items">
            <input class="input-box" type="text" placeholder="Username" autocomplete="on">
            <input class="input-box" type="email" placeholder="Email" autocomplete="on">
            <input class="input-box" type="password" placeholder="Password">
            <input class="input-box last" type="password" placeholder="Confirm Password">
            <input class="submit-btn" type="submit" value="Login">
            <a class="login-instead" href="#">Already have an account?</a>
        </div>
    </div>
</div>
